h1 {
    text-align: center;
}

body {
    background: #111;
    color: #f8f8f8;
}

/* .mainbox {
    position: absolute;
    background: #f8f8f8;
    left: 50%;
    margin-left: -300px;
    display: block;
    
    border: 3px dashed rgb(0, 0, 0);
} */

.snake {
    /* margin-left: -300px; */
    display: block;
    background: #f8f8f8;
    border: 3px dashed #111;
    /* position: relative; */
    /* display: block; */
    margin-bottom: 1rem;
    /* background-color: aqua; */
}

.btn1{
    display: none;
    width: 130px;
    height: 50px;
    font-size: 30px;
    background-color: #111;
    border: 3px solid white;
    color: white;
}

.btn1:disabled{
    color: rgb(82, 82, 82);
    border: 3px solid rgb(82, 82, 82);
}

.forrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.score{
    font-size: 50px;
    width: 250px;
    text-align: center;
}

.equalaizer{
    font-size: 30px;
    width: 250px;
    margin-left: 15px;
}

.win {
    display: none;
    position: absolute;
    z-index: 100;
    width: 400px;
    height: 250px;
    left: 50%;
    margin-left: -200px; 
    margin-top: 150px;
    border: 5px solid rgb(100, 100, 100, 0.6);
    background: rgba(80,80,80,0.6);
}

.win-text{
    font-size: 60px;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.btn2{
    width: 130px;
    height: 50px;
    font-size: 30px;
    background-color: #111;
    border: 3px solid white;
    color: white;
}

.btn2:disabled{
    color: rgb(82, 82, 82);
    border: 3px solid rgb(82, 82, 82);
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.btn{
    margin: 0 10px;
}

.timer{
    font-size: 20px;
    height: 30px;
    width: 140px;
    color: white;
    background-color: #111;
    border: 3px solid white; 
}

.btn3{
    text-align: center;
    font-size: 20px;
    height: 35px;
    width: 65px;
    background-color: #111;
    border: 3px solid white;
    color: white;
}

.leaderboard{
    margin: 0 auto;
    margin-top: 50px;
    height: 300px;
    border: #f8f8f8 solid 3px;
    width: 200px;
}

.title1{
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
}

.aubtns{
    margin: 0 auto 0;
    display: block;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: #111;
    border: 3px solid white;
    color: white;
}

.auth{
    margin-top: 30px;
}

.btn5{
    margin-top: 10px;
}

.login{
    display: none;
    margin-top: 10px;
}

.log{
    font-size: 20px;
    height: 30px;
    width: 140px;
    color: white;
    background-color: #111;
    border: 3px solid white; 
    margin: 0 auto 10px;
    display: block;
}

.text3{
    font-size: 20px;
    text-align: center;
}

.btns2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn6{
    display: block;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: #111;
    border: 3px solid white;
    color: white;
    margin-right: 5px;
}

.btn6:hover{
    background-color: #222;
    cursor: pointer;
}

.btn7{
    display: block;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: #111;
    border: 3px solid white;
    color: white;
    margin-left: 5px;
}

button:hover{
    background-color: #222;
    cursor: pointer;
}

.signin{
    display: none;
    margin-top: 10px;
}

.sign{
    font-size: 20px;
    height: 30px;
    width: 140px;
    color: white;
    background-color: #111;
    border: 3px solid white; 
    margin: 0 auto 10px;
    display: block;
}

.btn8{
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: #111;
    border: 3px solid white;
    color: white;
    margin-left: 5px;
}

.btn8:hover{
    background-color: #222;
    cursor: pointer;
}

.btn9{
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: #111;
    border: 3px solid white;
    color: white;
    margin-left: 5px;
}

.btns3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.activeuser{
    margin: 20px auto 0;
    text-align: center;
    display: block;
    font-size: 30px;
}

.btn10{
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: #111;
    border: 3px solid white;
    color: white;
    /* margin-left: 5px; */
    margin: 5px auto 0;
    display: block;
}

.btn10:hover{
    background-color: #222;
    cursor: pointer;
}

.error{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.leaders{
    font-size: 25px;
}